<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/baw8lxb.css">
  <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div class="twopageimaginetitle">
        <h6><a href="/">imagine</a></h6>
      </div>

      <div id="nav-trigger" class="nav-trigger open">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        <nav id="nav" class="out">
          <ul>
            <li><span class="nav-label"><a href="/">Home</a></span></li>
            <li><span class="nav-label"><a href="/aboutus">About Us</a></span></li>
            <li><span class="nav-label"><a href="/portfolio">Portfolio</a></span></li>
            <li><span class="nav-label"><a href="/startaproject">Start a Project</a></span></li>
            <li><span class="nav-label"><a href="/contact">Contact Us</a></span></li>
          </ul>
        </nav>


<div class="aboutgrid">

  <div class="aboutmainimage">
    <div class="aboutmainoverlay"></div>
    		 <div class="aboutquote">
          <h2 class="animated lightSpeedIn">"Why fit in when you were born to stand out?"<br>-Dr. Suess</h2>
        </div>
    
		
    <div class="mousecontainertwo">
        <div class="mouse"></div>
  </div> 
   

  </div>

  <div class="aboutwebsitephoto">
      <img src="assets/images/aboutad.jpeg" alt="">
  </div>

  <div class="aboutwebsitetext">
    <p>For a relationship to work you really have to know the team you're involved with.  When you work with us, <span class="underlineabout">we'll dive deep</span> into your business making an effort to understand the who, what, why and how of everything that you do.</p>
  </div>

  <div class="hrcontainer">
    <hr class="style-one">
  </div>

  <div class="aboutbrandingtext">
    <p>By focusing on <span class="underlineabout">your brands unique identit</span>y, we'll create something that connects with your customers on a personal level and forces a "WOW!" reaction.  Our work will put your best foot forward, engaging those who matter to you the most.</p>
  </div>


  <div class="aboutbrandingphoto">
      <img src="assets/images/aboutbranding.svg" alt="">
  </div>

  <div class="hrcontainertwo">
      <hr class="style-one">
  </div>

  <div class="hrcontainerthree">
      <hr class="style-one">
  </div>

  <div class="aboutadvertisingphoto">
      <img src="assets/images/aboutwebsite.jpeg" alt="">
  </div>

  <div class="aboutadvertisingtext">
      <p>Your project will be built adhering to <span class="underlineabout">today's technical standards</span> as best as we can identify.  It will be thoroughly checked on every device in every environment and full post-launch support is guaranteed. Your business with us is not simply a transaction, it is a highly valued partnership. </p>
  </div>


<!-- Start Section9 -->
<section class="aboutsection9" class="animated">
    <div class="aboutsection9container">
      <p class="marketblack">Let's work together to create something exceptional.</p>
    </div>
    <a href="/startaproject" class="butn rounded"><span class="text-green">Start a project</span></a>
    </section>
    <!-- End Section9 -->
  
    <div class="aboutsection10">
          <p>Copyright <i class="fas fa-copyright"></i> 2018 IMAGINE CREATIVE WEB STUDIO INC., ALL RIGHTS RESERVED</p>
    </div>

</div>




</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="assets/js/script.js"></script>
</html>