<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/baw8lxb.css">
  <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div class="twopageimaginetitle">
        <h6><a href="/">imagine</a></h6>
      </div>

      <div id="nav-trigger" class="nav-trigger open">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        <nav id="nav" class="out">
          <ul>
            <li><span class="nav-label"><a href="/">Home</a></span></li>
            <li><span class="nav-label"><a href="/aboutus">About Us</a></span></li>
            <li><span class="nav-label"><a href="/portfolio">Portfolio</a></span></li>
            <li><span class="nav-label"><a href="/startaproject">Start a Project</a></span></li>
            <li><span class="nav-label"><a href="/contact">Contact Us</a></span></li>
          </ul>
        </nav>



		<!-- <div class="contacttitle">
      <div class="contacttitlecontainer">
          <i class="far fa-circle"></i><h2>CONTACT US</h2>
    </div>
    <div class="mousecontainertwo">
        <div class="mouse"></div>
  </div>
    </div> -->
    
		

    <div class="contactformcontainer">
      <div class="overlay"></div>
      <div class="contactfirstpart">
        <p class="contactquestion">Contact Us</p>
        <i class="fas fa-arrow-down"></i>
        <a class="contactemail" href="hello@byimagine.net">hello@byimagine.net</a>
        <p class="contactphonenumber">919-602-7778</p>
        <div class="effect mutius">
            <div class="buttons">
              <a href="https://www.facebook.com/" class="fb" title="Join us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.twitter.com/" class="tw" title="Join us on Twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/" class="insta" title="Join us on Instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/" class="in" title="Join us on Linked In"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
      </div>
</div>





</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/script.js"></script>
</html>