<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/baw8lxb.css">
  <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>




        <div id="nav-trigger" class="nav-trigger open">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
              <nav id="nav" class="out">
                <ul>
                  <li><span class="nav-label"><a href="/">Home</a></span></li>
                  <li><span class="nav-label"><a href="/aboutus">About Us</a></span></li>
                  <li><span class="nav-label"><a href="/portfolio">Portfolio</a></span></li>
                  <li><span class="nav-label"><a href="/startaproject">Start a Project</a></span></li>
                  <li><span class="nav-label"><a href="/contact">Contact Us</a></span></li>
                </ul>
              </nav>

      <!-- Progress -->
<div class="progress-top"></div>
<div class="progress-right"></div>
<div class="progress-bottom"></div>
<div class="progress-left"></div>

 <main>
<!-- Start Section1 -->
<section id="section1" class="animated">
    <div class="video-container">
        <video src="assets/videos/imaginevideobg7.mp4" autoplay loop playsinline muted></video>
                    <div class="callout">
                        <div class="homepageimaginetitle">
                            <p><a href="/">imagine</a></p>
                          </div>
                      <h1><span class="ionehead">i</span><span class="mhead">m</span><span class="ahead">a</span><span class="ghead">g</span><span class="itwohead">i</span><span class="nhead">n</span><span class="ehead">e</span></h1>
                      <p class="subheader">Creative Web Studio</p>
                      <a class="btn-6" href="/portfolio">View Portfolio<span></span></a>
                      <div class="mousecontainer">
                          <div class="mouse"></div>
                    </div>
                    </div>
                 </div>
  </section>
<!-- End Section1 -->



<!-- Start Section2 -->
<section id="section2" class="animated">
    <div class="cover1"></div>
    <p class="marketblack"> <span class="proximawhite">We combine</span> elegance</p>
    <img class="flower animated" src="assets/images/elegant.svg" alt="">
    
</section>
<!-- End Section2 -->

<!-- Start Section3 -->
<section id="section3" class="animated">
    <p class="marketblack">with <span class="marketred">attitude</span></p>
  <img class="boxing animated" src="assets/images/attitude1.svg" alt="">
</section>  
<!-- End Section3 -->

<!-- Start Section4 -->
<section id="section4" class="animated">
    <p class="marketpink">and art</p>
    <img class="can animated" src="assets/images/art.svg" alt="">
</section>
<!-- End Section4 -->


<!-- Start Section5 -->
<section id="section5" class="animated">
    <p class="marketwhite">with <span class="marketblue">technology</span></p>
    <img class="project01 animated" src="assets/images/technology.svg" alt="">
</section>
<!-- End Section5 -->


<!-- Start Section6 -->
<section id="section6" class="animated">
  <div class="section6container">
      <p class="marketblack">to create amazing custom websites, branding and advertising for our clients.</p>
    </div>
</section>
<!-- End Section6 -->

<!-- Start Section7 -->
<section id="section7" class="animated">
    <p class="marketblack">You've got the business.</p>
    <img class="animated businesspic"  src="assets/images/business.svg" alt="">
</section>
<!-- End Section7 -->


<!-- Start Section8 -->
<section id="section8" class="animated">
    <p class="marketwhite">We've got the coding skills.</p>
    <img class="animated cpic" src="assets/images/coding.svg" alt="">
  </section>  
<!-- End Section8 -->

<!-- Start Section9 -->
<section class="section9" class="animated">
  <div class="section9container">
    <p class="marketblack">Let's work together to create something exceptional.</p>
  </div>
  <a href="/startaproject" class="butn rounded"><span class="text-green">Start a project</span></a>
  </section>
  <!-- End Section9 -->

  <div class="section10">
        <p>Copyright <i class="fas fa-copyright"></i> 2018 IMAGINE CREATIVE WEB STUDIO INC., ALL RIGHTS RESERVED</p>
  </div>

</main>


  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="assets/js/script.js"></script>
</html>