<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/baw8lxb.css">
  <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div class="twopageimaginetitle">
        <h6><a href="/">imagine</a></h6>
      </div>

      <div id="nav-trigger" class="nav-trigger open">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        <nav id="nav" class="out">
          <ul>
            <li><span class="nav-label"><a href="/">Home</a></span></li>
            <li><span class="nav-label"><a href="/aboutus">About Us</a></span></li>
            <li><span class="nav-label"><a href="/portfolio">Portfolio</a></span></li>
            <li><span class="nav-label"><a href="/startaproject">Start a Project</a></span></li>
            <li><span class="nav-label"><a href="/contact">Contact Us</a></span></li>
          </ul>
        </nav>



        <section class="gallery">
          <p>Coming Soon!</p>   
        </section>
<!-- Start Section9 -->
<section class="section9" class="animated">
    <div class="section9container">
      <p class="marketblack">Let's work together to create something exceptional.</p>
    </div>
    <a href="/startaproject" class="butn rounded"><span class="text-green">Start a project</span></a>
    </section>
    <!-- End Section9 -->
  
    <div class="section10">
          <p>Copyright <i class="fas fa-copyright"></i> 2018 IMAGINE CREATIVE WEB STUDIO INC., ALL RIGHTS RESERVED</p>
    </div>


  
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="assets/js/script.js"></script>
</html>